/* TODO Add site wide styles */

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(108, 155, 108);
}
button {
  margin: 5px;
  padding: 10px;
}

.app {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border: 1px black solid;
  border-radius: 5px;
  padding: 20px;
  background-color: white;
}

.buttons {
  display: flex;
  flex-flow: column;
  text-align: center;
}
